@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Practicando Bootstrap</h1>
    <p>
       <a href="https://getbootstrap.com/docs/5.3/layout/containers/">Bootstrap</a> es un framework de desarrollo web front-end gratuito y de código abierto
       que facilita la creación de sitios web modernos, responsivos y visualmente atractivos2. 
       Aquí te explico sus aspectos clave:</p>
</div>

<div class="row"> 
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 2
    </div>
    <div class="col">
        columna 3
    </div>
    <div class="col">
        columna 4
    </div>
</div>
<div class="row">
    <div class="col">
        columna 1
    </div>
    <div class="col-8">
        columna 2
    </div>
    <div class="col">
        columna 3
    </div>
</div>
